:root{
  /* TODO - Replace specific variable selectors with more vague descriptions 
     i.e, replace header-bg-color with "Purple base color", replace header-hover-flash-color with "Purple Highlight" */

  --header-bg-color: hsl(270, 80%, 80%);
  --header-hover-color: hsl(270, 100%, 70%);
  --header-hover-flash-color: hsl(270, 100%, 80%);
  --header-box-shadow-color: hsl(275, 50%, 50%);
  --header-text-color: white;

  --main-background-color: hsl(270, 80%, 80%);
  --main-text-color: hsl(270, 100%, 100%);
  
}

body {
  margin: 0px
}

h1, h2 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

img{
  height:200px;
}

html{
  background: url("img/Cosplay/Caity Emilia Cosplay.jpg") no-repeat right fixed;
  background-size: cover;
}

/*
TODO: 
Media Query, where if the screen-width is <900px
then the header box is re-created.
*/

header {
  margin: 20px;
  padding: 0em;
  background: var(--header-bg-color);
  box-shadow: 10px 10px var(--header-box-shadow-color);
  max-width: 400px;
  
  color: var(--header-text-color);
  display:grid;
}

header h1 {
  margin: 0.0em;
  padding:0.6em;
  border-bottom: 2px dotted white;
}

header h2 {
  margin: 0.0em;
  padding: 0.5em;
}

header h2:hover{
  animation-name: hover-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hover-animation{
  from {background-color: var(--header-hover-flash-color);}
  to {background-color: var(--header-hover-color)};
}

#subheader {
  display:grid;
  #grid-template-columns: 2fr 1fr 2fr;
}

main{
  background: var(--main-background-color);
  color: var(--main-text-color);
  margin-top: 75vh;
  padding-bottom:25vh;
}

#gallery{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#gallery div{
  margin:auto;
}

#gallery div img {
  background: white;
}

