body {
  margin: 0px
}

h1, h2 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

img{
  height:200px;
}

html{
  background: url("img/Cosplay/Caity Emilia Cosplay.jpg") no-repeat right fixed;
  background-size: cover;
}

header {
  padding: 0em;
  background:rgb(248,133,248);
  color:white;
  display:grid;
}

header h1 {
  margin: 0.4em
}

header h2 {
  margin: 0.25em
}

#subheader {
  display:grid;
  grid-template-columns: 2fr 1fr 2fr;
}

main{
  background:white;
  margin-top: 75vh;
  padding-bottom:25vh;
}



